.popup-container.active {
  height: 250px;
}

.popup-container1 {
  display: grid;
  place-content: center;
  height: 100%;
  overflow: hidden;
  width: 0;
  /* background-color: #83cd23; */
  /* transition: width 1s ease-out; */
  z-index: 999;
}

.popup-container1.active {
  /* position: fixed; */
  height: 200px;
  width: 90%;
  left: auto;
  right: auto;
}
