<div class="mx-7 mt-5">
  <div>
    <!-- <div class="text-[#344054] font-medium text-sm mb-1 mt-2">ronitroy@gmail.com</div> -->
    <div class="text-[#344054] font-medium text-sm mb-1 mt-2">
      {{ basicDetail.email }}
    </div>
    <!-- <div class="text-[#344054] font-medium text-sm mb-1 mt-2">9087654321</div> -->
    <div class="text-[#344054] font-medium text-sm mb-1 mt-2">
      {{ basicDetail.phoneNumber}}
    </div>
    <!-- <div class="font-medium text-xs font-semibold text-[#475467]"><span class="font-semibold text-sm mt-2">60 %</span> Profile
                Status</div> -->
    <div class="font-medium text-xs font-semibold text-[#475467]">
      <span class="font-semibold text-sm mt-2"> 66%</span>
      Profile Status
    </div>
  </div>
</div>

<!-- {{ Data1.profileStatus}} -->