<div class="sticky z-30 top-0">
    <div>
        <svg viewBox="0 0 430 98" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_4664_4937)">
                <rect width="430" height="98" fill="#00A2E0" />
                <path
                    d="M76 0H0V183H430V166.53C384.5 134.245 371.5 166.53 333.5 140.255C295.296 113.84 288.975 122.837 273 108.197C243.011 80.7143 214.334 106.14 194.365 96.99C178.39 89.67 163.5 60.7774 155.5 48.0876C125.598 -10.4724 93 2.67153 76 0Z"
                    fill="url(#paint0_linear_4664_4937)" />
                <path
                    d="M374.149 95.5H430V-14.5H114L85 -18C118.437 1.40657 146.483 -3.85299 169 19C202.5 53 217.637 21.6635 229.377 30.4635C251.415 46.9832 272.489 31.7 287.164 37.2C298.904 41.6 309.847 58.9672 315.726 66.5949C337.7 101.795 361.656 93.8942 374.149 95.5Z"
                    fill="url(#paint1_linear_4664_4937)" />
                <g filter="url(#filter0_d_4664_4937)">
                    <path d="M361.569 27.7033L384.08 38.3486L364.352 52.4483L361.569 27.7033Z" fill="#7FF2A5"
                        fill-opacity="0.3" />
                </g>
                <circle cx="21.5" cy="9.5" r="44.5" fill="url(#paint2_linear_4664_4937)" />
                <g filter="url(#filter1_d_4664_4937)">
                    <ellipse cx="21" cy="10" rx="29" ry="28" fill="url(#paint3_linear_4664_4937)" />
                    <path
                        d="M21 38.5C37.2757 38.5 50.5 25.7565 50.5 10C50.5 -5.75651 37.2757 -18.5 21 -18.5C4.72428 -18.5 -8.5 -5.75651 -8.5 10C-8.5 25.7565 4.72428 38.5 21 38.5Z"
                        stroke="url(#paint4_linear_4664_4937)" />
                </g>
                <g filter="url(#filter2_d_4664_4937)">
                    <ellipse cx="105" cy="40" rx="8" ry="6" fill="url(#paint5_linear_4664_4937)" />
                    <path
                        d="M105 46.5C107.307 46.5 109.415 45.7993 110.957 44.6426C112.499 43.4858 113.5 41.8495 113.5 40C113.5 38.1505 112.499 36.5142 110.957 35.3574C109.415 34.2007 107.307 33.5 105 33.5C102.693 33.5 100.585 34.2007 99.0431 35.3574C97.5007 36.5142 96.5 38.1505 96.5 40C96.5 41.8495 97.5007 43.4858 99.0431 44.6426C100.585 45.7993 102.693 46.5 105 46.5Z"
                        stroke="url(#paint6_linear_4664_4937)" />
                </g>
                <g filter="url(#filter3_d_4664_4937)">
                    <ellipse cx="407" cy="63.5" rx="9" ry="10.5" fill="url(#paint7_linear_4664_4937)" />
                    <path
                        d="M407 74.5C412.316 74.5 416.5 69.5 416.5 63.5C416.5 57.5 412.316 52.5 407 52.5C401.684 52.5 397.5 57.5 397.5 63.5C397.5 69.5 401.684 74.5 407 74.5Z"
                        stroke="url(#paint8_linear_4664_4937)" />
                </g>
                <rect x="208.138" y="89.4446" width="43" height="41" transform="rotate(-29.7026 208.138 89.4446)"
                    stroke="#7FF2A5" stroke-width="9" />
                <rect x="-38.8615" y="69.4446" width="43" height="41" transform="rotate(-29.7026 -38.8615 69.4446)"
                    stroke="#7FF2A5" stroke-width="9" />
                <rect x="409.138" y="65.4446" width="43" height="41" transform="rotate(-29.7026 409.138 65.4446)"
                    stroke="#7FF2A5" stroke-width="9" />
            </g>
            <defs>
                <filter id="filter0_d_4664_4937" x="309.569" y="7.70312" width="126.511" height="128.745"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feMorphology radius="12" operator="erode" in="SourceAlpha" result="effect1_dropShadow_4664_4937" />
                    <feOffset dy="32" />
                    <feGaussianBlur stdDeviation="32" />
                    <feColorMatrix type="matrix"
                        values="0 0 0 0 0.0625882 0 0 0 0 0.0926346 0 0 0 0 0.15702 0 0 0 0.14 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_4664_4937" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_4664_4937" result="shape" />
                </filter>
                <filter id="filter1_d_4664_4937" x="-41" y="-51" width="188" height="186" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dx="32" dy="32" />
                    <feGaussianBlur stdDeviation="32" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                        values="0 0 0 0 0.203922 0 0 0 0 0.25098 0 0 0 0 0.329412 0 0 0 0.08 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_4664_4937" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_4664_4937" result="shape" />
                </filter>
                <filter id="filter2_d_4664_4937" x="64" y="1" width="146" height="142" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dx="32" dy="32" />
                    <feGaussianBlur stdDeviation="32" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                        values="0 0 0 0 0.203922 0 0 0 0 0.25098 0 0 0 0 0.329412 0 0 0 0.08 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_4664_4937" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_4664_4937" result="shape" />
                </filter>
                <filter id="filter3_d_4664_4937" x="365" y="20" width="148" height="151" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dx="32" dy="32" />
                    <feGaussianBlur stdDeviation="32" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                        values="0 0 0 0 0.203922 0 0 0 0 0.25098 0 0 0 0 0.329412 0 0 0 0.08 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_4664_4937" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_4664_4937" result="shape" />
                </filter>
                <linearGradient id="paint0_linear_4664_4937" x1="0" y1="0" x2="19.9435" y2="220.148"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint1_linear_4664_4937" x1="430" y1="95.5" x2="420.168" y2="-37.1867"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00B8FF" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint2_linear_4664_4937" x1="-23" y1="-35" x2="-1.01827" y2="68.2659"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint3_linear_4664_4937" x1="-8" y1="-18" x2="5.39361" y2="47.1677"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint4_linear_4664_4937" x1="-8" y1="-18" x2="5.39361" y2="47.1677"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint5_linear_4664_4937" x1="97" y1="34" x2="99.2658" y2="48.1926"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint6_linear_4664_4937" x1="97" y1="34" x2="99.2658" y2="48.1926"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint7_linear_4664_4937" x1="398" y1="53" x2="403.958" y2="76.9906"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <linearGradient id="paint8_linear_4664_4937" x1="398" y1="53" x2="403.958" y2="76.9906"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00A2E0" />
                    <stop offset="1" stop-color="#30728C" />
                </linearGradient>
                <clipPath id="clip0_4664_4937">
                    <rect width="430" height="98" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="flex px-5 -mt-14">
        <div routerLink="/dashboard/jobs" class="mt-2">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="14.5" fill="#F2F4F7" stroke="#EAECF0" />
                <path d="M20.2495 15H9.74951" stroke="#344054" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M14.9995 20.25L9.74951 15L14.9995 9.75" stroke="#344054" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="w-full mx-4">
            <!-- <input type="text" [(ngModel)]="searchSaved" (keyup)="JobSearch($event)"
                class="text-xs h-11 pl-8 font-medium w-full rounded-lg focus:outline-none outnline-none border-none bg-white"
                placeholder="Search job, eg: Accountant"> -->
            <input type="text"
                class="text-xs h-11 pl-8 font-medium w-full rounded-lg focus:outline-none outnline-none border-none bg-white"
                placeholder="Search job, eg: Accountant">
            <div class="-mt-8 ml-2">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                        stroke="#475467" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M17.5 17.5L13.875 13.875" stroke="#475467" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="mt-1">
            <img class="h-10 w-10 rounded-full" src="assets/images/Ellipse 54.svg" alt="">
        </div>
    </div>
</div>



<div class="px-5 pt-5">
    <div (click)="showFilter()" class="flex justify-between">
        <div class="text-[#1D2939] font-semibold text-md">Jobs</div>
        <div class="flex">
            <div class="text-[#0175A2] text-xs font-medium">Apply Filter</div>
            <div class="mt-1 ml-2">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.5L6 6.5L11 1.5" stroke="#0175A2" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showFilters" class="px-5">
    <div x-data="app" class="pt-4">
        <div class="-m-2 flex flex-wrap">
            <div class="m-1">
                <input type="radio" name="filter" id="All" class="peer hidden" value="All" />
                <label for="All" 
                    class="block cursor-pointer text-[0.625rem] text-[#667085] bg-[#F9FAFB] rounded-xl border border-[#F2F4F7] select-none px-3 py-1.5 text-center peer-checked:bg-[#F5FBFF] peer-checked:text-[#0175A2] peer-checked:border-[#0175A2] peer-checked:font-medium">
                    All</label>
            </div>
            <div class="m-1">
                <input type="radio" name="filter" id="Recently Saved " class="peer hidden" value="Recently Saved " />
                <label for="Recently Saved "
                    class="block cursor-pointer text-[0.625rem] text-[#667085] bg-[#F9FAFB] rounded-xl border border-[#F2F4F7] select-none px-2.5 py-1.5 text-center peer-checked:bg-[#F5FBFF] peer-checked:text-[#0175A2] peer-checked:border-[#0175A2] peer-checked:font-medium">
                    Recently Saved</label>
            </div>
            <div class="m-1">
                <input type="radio" name="filter" id="Last 7 days" class="peer hidden" value="Last 7 days" />
                <label for="Last 7 days"
                    class="block cursor-pointer text-[0.625rem] text-[#667085] bg-[#F9FAFB] rounded-xl border border-[#F2F4F7] select-none px-2.5 py-1.5 text-center peer-checked:bg-[#F5FBFF] peer-checked:text-[#0175A2] peer-checked:border-[#0175A2] peer-checked:font-medium">
                    Last 7 days</label>
            </div>
            <div class="m-1">
                <input type="radio" name="filter" id="Last Month" class="peer hidden" value="Last Month" />
                <label for="Last Month"
                    class="block cursor-pointer text-[0.625rem] text-[#667085] bg-[#F9FAFB] rounded-xl border border-[#F2F4F7] select-none px-2 py-1.5 text-center peer-checked:bg-[#F5FBFF] peer-checked:text-[#0175A2] peer-checked:border-[#0175A2] peer-checked:font-medium">
                    Last Month</label>
            </div>
        </div>
    </div>
</div>

<div class="pl-3">
    <div x-data="app" class="flex flex-nowrap ">
        <div class=" flex flex-nowrap overflow-x-auto">
            <div class="m-1" routerLink="/dashboard/applied-jobs">
                <input type="radio" name="applied" id="Applied Jobs" class="peer hidden" value="Applied Jobs" />
                <label for="Applied Jobs"
                    class="block whitespace-nowrap cursor-pointer text-xs text-[#667085] border-b-2 border-white select-none px-2 py-1.5 text-center peer-checked:text-[#21A14B] peer-checked:border-[#21A14B] peer-checked:font-medium">
                    Applied Jobs </label>
            </div>
            <div class="m-1">
                <input type="radio" name="applied" id="Shortlisted Jobs" class="peer hidden" value="Shortlisted Jobs" />
                <label for="Shortlisted Jobs" routerLink="/dashboard/shortlisted-jobs" 
                    class="block whitespace-nowrap cursor-pointer text-xs text-[#667085] border-b-2 border-white select-none px-2 py-1.5 text-center peer-checked:text-[#21A14B] peer-checked:border-[#21A14B] peer-checked:font-medium">
                    Shortlisted Jobs</label>
            </div>
            <div class="m-1">
                <input type="radio" name="applied" id="Selected Jobs" class="peer hidden" value="Selected Jobs" />
                <label for="Selected Jobs" routerLink="/dashboard/selected-jobs" 
                    class="block whitespace-nowrap cursor-pointer text-xs text-[#667085] border-b-2 border-white select-none px-2 py-1.5 text-center peer-checked:text-[#21A14B] peer-checked:border-[#21A14B] peer-checked:font-medium">
                    Selected Jobs</label>
            </div>
            <div class="m-1">
                <input type="radio" name="applied" id="Offered Jobs" class="peer hidden" value="Offered Jobs" />
                <label for="Offered Jobs" routerLink="/dashboard/offered-jobs"
                    class="block whitespace-nowrap cursor-pointer text-xs text-[#667085] border-b-2 border-white select-none px-3 py-1.5 text-center peer-checked:text-[#21A14B] peer-checked:border-[#21A14B] peer-checked:font-medium">
                    Offered Jobs</label>
            </div>
        </div>
    </div>
</div>

<div class="bg-[#F3F4F6] min-h-screen py-5 pb-16">
    <div class="border rounded-lg p-4 mb-4 bg-white mx-4">
        <div class="flex justify-between">
            <div class=" flex">
                <div routerLink="/dashboard/jobs" class="">
                    <img src="assets/images/pic1.png" alt="">
                </div>
                <div class="ml-2">
                    <div class="text-[#252525] font-semibold text-md text-[1.125rem]">
                        Android
                        Developer
                    </div>
                    <div class="text-gray-500 font text-xs font-medium">Ginger</div>
                    <div class="flex mt-1">
                        <div class="mt-0.5">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.75 7.5C14.75 12.75 8 17.25 8 17.25C8 17.25 1.25 12.75 1.25 7.5C1.25 5.70979 1.96116 3.9929 3.22703 2.72703C4.4929 1.46116 6.20979 0.75 8 0.75C9.79021 0.75 11.5071 1.46116 12.773 2.72703C14.0388 3.9929 14.75 5.70979 14.75 7.5Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M8 9.75C9.24264 9.75 10.25 8.74264 10.25 7.5C10.25 6.25736 9.24264 5.25 8 5.25C6.75736 5.25 5.75 6.25736 5.75 7.5C5.75 8.74264 6.75736 9.75 8 9.75Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="ml-3 text-gray-500 text-sm font font-medium ">
                            Gurugram
                        </div>
                    </div>
            <div class="text-[#21A14B] pt-2 text-xs font-semibold">Application sent 1 week ago</div>
                </div>
            </div>

            <div class="">
                <div class="ml-10 mt-2 mb-2">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 11L6.5 6L1.5 1" stroke="#475467" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <hr class="h-0.5 my-3 bg-[#EAECF0]">
        <div class="flex justify-between">
            <div class="text-[#98A2B3] text-sm font-semibold">Recruiter actioned  2 hours ago</div>
            <div class="text-[#F79009] text-xs font-medium bg-[#FFFAEB] px-3 py-1 rounded-xl ">Shortlisted</div>
        </div>
    </div>
    <div class="border rounded-lg p-4 mb-4 bg-white mx-4">
        <div class="flex justify-between">
            <div class=" flex">
                <div routerLink="/dashboard/jobs" class="">
                    <img src="assets/images/pic2.png" alt="">
                </div>
                <div class="ml-2">
                    <div class="text-[#252525] font-semibold text-md text-[1.125rem]">
                        Android
                        Developer
                    </div>
                    <div class="text-gray-500 font text-xs font-medium">Ginger</div>
                    <div class="flex mt-1">
                        <div class="mt-0.5">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.75 7.5C14.75 12.75 8 17.25 8 17.25C8 17.25 1.25 12.75 1.25 7.5C1.25 5.70979 1.96116 3.9929 3.22703 2.72703C4.4929 1.46116 6.20979 0.75 8 0.75C9.79021 0.75 11.5071 1.46116 12.773 2.72703C14.0388 3.9929 14.75 5.70979 14.75 7.5Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M8 9.75C9.24264 9.75 10.25 8.74264 10.25 7.5C10.25 6.25736 9.24264 5.25 8 5.25C6.75736 5.25 5.75 6.25736 5.75 7.5C5.75 8.74264 6.75736 9.75 8 9.75Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="ml-3 text-gray-500 text-sm font font-medium ">
                            Gurugram
                        </div>
                    </div>
            <div class="text-[#21A14B] pt-2 text-xs font-semibold">Application sent 2 week ago</div>
                </div>
            </div>

            <div class="">
                <div class="ml-10 mt-2 mb-2">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 11L6.5 6L1.5 1" stroke="#475467" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <hr class="h-0.5 my-3 bg-[#EAECF0]">
        <div class="flex justify-between">
            <div class="text-[#98A2B3] text-sm font-semibold">Recruiter actioned  23 hours ago</div>
            <div class="text-[#F79009] text-xs font-medium bg-[#FFFAEB] px-3 py-1 rounded-xl ">Shortlisted</div>
        </div>
    </div>
    <div class="border rounded-lg p-4 mb-4 bg-white mx-4">
        <div class="flex justify-between">
            <div class=" flex">
                <div routerLink="/dashboard/jobs" class="">
                    <img src="assets/images/pic3.png" alt="">
                </div>
                <div class="ml-2">
                    <div class="text-[#252525] font-semibold text-md text-[1.125rem]">
                        JCS Technologies
                    </div>
                    <div class="text-gray-500 font text-xs font-medium">Light Technologies</div>
                    <div class="flex mt-1">
                        <div class="mt-0.5">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.75 7.5C14.75 12.75 8 17.25 8 17.25C8 17.25 1.25 12.75 1.25 7.5C1.25 5.70979 1.96116 3.9929 3.22703 2.72703C4.4929 1.46116 6.20979 0.75 8 0.75C9.79021 0.75 11.5071 1.46116 12.773 2.72703C14.0388 3.9929 14.75 5.70979 14.75 7.5Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M8 9.75C9.24264 9.75 10.25 8.74264 10.25 7.5C10.25 6.25736 9.24264 5.25 8 5.25C6.75736 5.25 5.75 6.25736 5.75 7.5C5.75 8.74264 6.75736 9.75 8 9.75Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="ml-3 text-gray-500 text-sm font font-medium ">
                            Pune 
                        </div>
                    </div>
            <div class="text-[#21A14B] pt-2 text-xs font-semibold">Application sent 3 week ago</div>
                </div>
            </div>

            <div class="">
                <div class="ml-10 mt-2 mb-2">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 11L6.5 6L1.5 1" stroke="#475467" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <hr class="h-0.5 my-3 bg-[#EAECF0]">
        <div class="flex justify-between">
            <div class="text-[#98A2B3] text-sm font-semibold">Recruiter actioned  14 hours ago</div>
            <div class="text-[#F79009] text-xs font-medium bg-[#FFFAEB] px-3 py-1 rounded-xl ">Shortlisted</div>
        </div>
    </div>
    <div class="border rounded-lg p-4 mb-4 bg-white mx-4">
        <div class="flex justify-between">
            <div class=" flex">
                <div routerLink="/dashboard/jobs" class="">
                    <img src="assets/images/logo-2023.png" alt="">
                </div>
                <div class="ml-2">
                    <div class="text-[#252525] font-semibold text-md text-[1.125rem]">
                        Python  Developer
                    </div>
                    <div class="text-gray-500 font text-xs font-medium">Circle Technologies</div>
                    <div class="flex mt-1">
                        <div class="mt-0.5">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.75 7.5C14.75 12.75 8 17.25 8 17.25C8 17.25 1.25 12.75 1.25 7.5C1.25 5.70979 1.96116 3.9929 3.22703 2.72703C4.4929 1.46116 6.20979 0.75 8 0.75C9.79021 0.75 11.5071 1.46116 12.773 2.72703C14.0388 3.9929 14.75 5.70979 14.75 7.5Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M8 9.75C9.24264 9.75 10.25 8.74264 10.25 7.5C10.25 6.25736 9.24264 5.25 8 5.25C6.75736 5.25 5.75 6.25736 5.75 7.5C5.75 8.74264 6.75736 9.75 8 9.75Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="ml-3 text-gray-500 text-sm font font-medium ">
                            Gurugram
                        </div>
                    </div>
            <div class="text-[#21A14B] pt-2 text-xs font-semibold">Application sent 3 days ago</div>
                </div>
            </div>

            <div class="">
                <div class="ml-10 mt-2 mb-2">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 11L6.5 6L1.5 1" stroke="#475467" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <hr class="h-0.5 my-3 bg-[#EAECF0]">
        <div class="flex justify-between">
            <div class="text-[#98A2B3] text-sm font-semibold">Recruiter actioned  4 hours ago</div>
            <div class="text-[#F79009] text-xs font-medium bg-[#FFFAEB] px-3 py-1 rounded-xl ">Shortlisted</div>
        </div>
    </div>
    <div class="border rounded-lg p-4 mb-4 bg-white mx-4">
        <div class="flex justify-between">
            <div class=" flex">
                <div routerLink="/dashboard/jobs" class="">
                    <img src="assets/images/pic1.png" alt="">
                </div>
                <div class="ml-2">
                    <div class="text-[#252525] font-semibold text-md text-[1.125rem]">
                        PHP Developer
                    </div>
                    <div class="text-gray-500 font text-xs font-medium">Ginger</div>
                    <div class="flex mt-1">
                        <div class="mt-0.5">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.75 7.5C14.75 12.75 8 17.25 8 17.25C8 17.25 1.25 12.75 1.25 7.5C1.25 5.70979 1.96116 3.9929 3.22703 2.72703C4.4929 1.46116 6.20979 0.75 8 0.75C9.79021 0.75 11.5071 1.46116 12.773 2.72703C14.0388 3.9929 14.75 5.70979 14.75 7.5Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M8 9.75C9.24264 9.75 10.25 8.74264 10.25 7.5C10.25 6.25736 9.24264 5.25 8 5.25C6.75736 5.25 5.75 6.25736 5.75 7.5C5.75 8.74264 6.75736 9.75 8 9.75Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="ml-3 text-gray-500 text-sm font font-medium ">
                            Gurugram
                        </div>
                    </div>
            <div class="text-[#21A14B] pt-2 text-xs font-semibold">Application sent 2 week ago</div>
                </div>
            </div>

            <div class="">
                <div class="ml-10 mt-2 mb-2">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 11L6.5 6L1.5 1" stroke="#475467" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <hr class="h-0.5 my-3 bg-[#EAECF0]">
        <div class="flex justify-between">
            <div class="text-[#98A2B3] text-sm font-semibold">Recruiter actioned  20 hours ago</div>
            <div class="text-[#F79009] text-xs font-medium bg-[#FFFAEB] px-3 py-1 rounded-xl ">Shortlisted</div>
        </div>
    </div>
    <div class="border rounded-lg p-4 mb-4 bg-white mx-4">
        <div class="flex justify-between">
            <div class=" flex">
                <div routerLink="/dashboard/jobs" class="">
                    <img src="assets/images/logo-2023.png" alt="">
                </div>
                <div class="ml-2">
                    <div class="text-[#252525] font-semibold text-md text-[1.125rem]">
                        Web App Developer
                    </div>
                    <div class="text-gray-500 font text-xs font-medium">Web App Developer</div>
                    <div class="flex mt-1">
                        <div class="mt-0.5">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.75 7.5C14.75 12.75 8 17.25 8 17.25C8 17.25 1.25 12.75 1.25 7.5C1.25 5.70979 1.96116 3.9929 3.22703 2.72703C4.4929 1.46116 6.20979 0.75 8 0.75C9.79021 0.75 11.5071 1.46116 12.773 2.72703C14.0388 3.9929 14.75 5.70979 14.75 7.5Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M8 9.75C9.24264 9.75 10.25 8.74264 10.25 7.5C10.25 6.25736 9.24264 5.25 8 5.25C6.75736 5.25 5.75 6.25736 5.75 7.5C5.75 8.74264 6.75736 9.75 8 9.75Z"
                                    stroke="#475467" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="ml-3 text-gray-500 text-sm font font-medium ">
                            Pune 
                        </div>
                    </div>
            <div class="text-[#21A14B] pt-2 text-xs font-semibold">Application sent 3 week ago</div>
                </div>
            </div>

            <div class="">
                <div class="ml-10 mt-2 mb-2">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 11L6.5 6L1.5 1" stroke="#475467" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <hr class="h-0.5 my-3 bg-[#EAECF0]">
        <div class="flex justify-between">
            <div class="text-[#98A2B3] text-sm font-semibold">Recruiter actioned  18 hours ago</div>
            <div class="text-[#F79009] text-xs font-medium bg-[#FFFAEB] px-3 py-1 rounded-xl ">Shortlisted</div>
        </div>
    </div>
</div>


<app-footer></app-footer>
