<div class="sticky z-30 top-0">
    <app-common-header></app-common-header>
    <div class="sticky top-0 z-50">
        <div class="flex w-full px-5 -mt-14">
            <!-- routerLink="/jobs" -->
            <div (click)="goBack()" class="mt-2">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15" cy="15" r="14.5" fill="#F2F4F7" stroke="#EAECF0" />
                    <path d="M20.2495 15H9.74951" stroke="#344054" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M14.9995 20.25L9.74951 15L14.9995 9.75" stroke="#344054" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="w-full mx-4">
                <input type="text"
                    class="text-xs h-11 pl-8 font-medium w-full rounded-lg focus:outline-none outnline-none border-none bg-white"
                    placeholder="Search job, eg: Accountant">
                <div class="-mt-8 ml-2">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                            stroke="#475467" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.5 17.5L13.875 13.875" stroke="#475467" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <div routerLink="/dashboard/profile">
                <app-profile-image></app-profile-image>
              </div>
        </div>
    </div>
</div>